.admin_database_container {
    display: flex;
    height: 100vh;
  }
  
  .admin_list {
    flex: 1;
    padding: 20px;
    background: linear-gradient(to bottom right, #ff69b4, #800080);
    color: black;
  }
  
  .Addadmin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .add-button {
    background-color: #ff69b4;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .add-button:hover {
    background-color: #ff1493;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th {
    background-color: #d966ff;
    color: white;
    padding: 10px;
  }
  
  td {
    padding: 10px;
    text-align: center;
  }
  
  .error {
    color: red;
    font-weight: bold;
    margin-top: 20px;
  }
  