/* GroupsPage.css */
input[type="text"] {
    padding: 12px;
    width: 430px;
    margin-bottom: 15px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #f04;
    color: white;
    border: none;
    cursor: pointer;
}