.post-container {
    display: flex;
    justify-content: center;
    width: 800px;
    background: cover;
}

.posts{
    overflow: hidden;
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.post {
    /* background-color: #fff; */
    border: 1px solid #dbdbdb;
    width: 80%;
    margin-bottom: 20px;
    border-radius: 3px;
    color: #fff;
  }
  
  .post-header {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  .post-image img {
    width: 100%;
    height: auto;
    display: block;
  }
  .post-image{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .postDescription{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
  }